<h1 class="mb-5">Lista tasków</h1>

<% tasks.forEach(task => { %>
<div class="card bg-light m-3">
  <div class="card-body">
    


   
      <label>
        Ukończone: <input type="checkbox" <%- (task.done)? 'checked' : '' %>   disabled>
      </label> 
      <p class="h5"><%= task.title %></p>
      <p class="text-muted"><%= task.description %> </p>
      <a href="/zadania/<%= task._id %>/edytuj" class="btn btn-warning">Edytuj</a>
      <a href="/zadania/<%= task._id %>/usun" class="btn btn-danger">Usuń</a>
    <form action="/zadania/<%= task._id %>/zmien-stan" method="POST" class="d-inline">
      <button class="btn btn-success">Oznacz jako ukończone</button>
    </form>
  </div>
</div>

<% }) %> 


<a href="/zadania/dodaj" class="btn btn-primary mt-5">Dodaj nowe zadanie</a>